<h1> View a subscription </h1>

<p>
  <%= @subscription.title %>
</p>
<p>
  <%= @subscription.description %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
