$color-primary-0: #378B2E;
$color-primary-1: #92D18B;
$color-primary-2: #5FAE57;
$color-primary-3: #1A6811;
$color-primary-4: #074600;


$blue: #2B3A67;
$pink: #ffb3b3;
$red: #E84855;
$pink-invert: #fff;
$primary: $red;
$primary-invert: $pink-invert;

@import "bulma";

