<div class="card">
  <div class="card-content">
    <p class="title ">
      Create a new Category from here
    </p>
    <p class="subtitle">
      Click to select  
    </p>
  </div>
</div>

<%= render 'form' %>

