
<p>
  <%= @category.name %>
</p>


<% @category_videos.each do |video| %>


<% end %>


<%= link_to 'Edit', edit_category_path(@category) %>
<br/>

<div class="tabs is-centered">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fa fa-image"></i></span>
        <span>New</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-music"></i></span>
        <span>Top</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-film"></i></span>
        <span>Chronological</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
        <span>Random</span>
      </a>
    </li>
  </ul>
</div>


<div id="player"></div>

<div id="current-video-info-card">
  <h1 id="current-video-title" ></h1>
  <div id="current-video-description">
  </div>
</div>

<script>
  function video(video_id){
    this.video_id = video_id;
    this.getDetails = function (callback) {
      $.post("http://localhost:4567/yt-api/video", { video_id: this.video_id },
        function(result) {
          result = JSON.parse(result);
          console.log(result);
          current_video.title = result.data.title;
          current_video.channel_title = result.data.channelTitle;
          current_video.published_at = result.data.publishedAt;
          current_video.description = result.data.description;
          callback(current_video);
      });
    }
  }
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;
  function onYouTubePlayerAPIReady() {
   player = new YT.Player('player', {
     height: '390',
     width: '640',
     events: {
       'onReady': onPlayerReady,
       'onStateChange': onPlayerStateChange
     }
   });
  }
  function onPlayerReady(event) {
    event.target.cuePlaylist(<%= raw(@category_video_ids) %>);
  }
  var current_video = {};
  current_video.video_id = null;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING ) {
      video_id = getVideoId(player.getVideoUrl());
      if (current_video.video_id != video_id){
        current_video = new video(video_id);
        current_video.getDetails(updateInfoCard);
      }
    }
  }
  function getVideoId(url){
    var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
    var match = url.match(regExp);
    if (match && match[2].length == 11) {
      return match[2];
    } else {
      console.log("ERROR: Could not extract video_id from player API");
    }
  };
  function updateInfoCard(current_video){
    $("#current-video-title").html(current_video.title);
    $("#current-video-description").html(current_video.description);
  }
</script>
